@model Category

<h1>Add Category</h1>
<hr />

<form asp-controller="Categories" asp-action="Add" method="post">
    <div class="form-group">

        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span class="text-danger" asp-validation-for="Name"></span>

        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span class="text-danger" asp-validation-for="Description"></span>
        <br />
        <button type="submit">Add</button>
    </div>
   
</form>